build/classes/bagian1/array/LatihanMandiri1_4_No3.class
build/classes/.netbeans_automatic_build
build/classes/.netbeans_update_resources
build/classes/bagian1/array/Latihan1.class
build.xml
build/classes/bagian1/array/latihan1.rs
build/classes/bagian1/array/Latihan2.class
build/classes/bagian1/array/LatihanMandiri1_4.class
build/classes/bagian1/array/LatihanMandiri1_4_No2.class
build/
dist/
nbproject/private/
*.class
*.jar
manifest.mf